# Data directories
data/
preprocessed_data/
output/
results/
k8s/

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
# Jupyter Notebook
.ipynb_checkpoints
*.DS_Store

# Environment
.env
.venv
env/
venv/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Logs
*.log
logs/
